<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tour</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='info_style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="wrapper">
    <div id="product-img-container" class="product-img">
    </div>

    <div id="product-info-container" class="product-info">
        <!-- Інформація про продукт буде вставлена тут -->
    </div>
</div>
<script src="{{ url_for('static', filename='info_script.js') }}"></script>
</body>
</html>
